* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	color: #FFF359;
}

#companylogo {
	padding-top: 20px;
	height: 20%;
	width: 20%;
	/*margin: 20px;*/
}

#companyname {
	color: #FFF359;
	font-size: 2.5em;
	/*border: 1px solid white;*/
	/*text-align: center;*/
	/*padding-bottom: 50px*/
}

.navbar-brand {
	color: white;

}

#navbarNavAltMarkup a {
	color: #FFF359; /*yellow*/
}

/*#navbarNavAltMarkup a:hover {*/
#navbarNavAltMarkup>.navbar-nav>.btn:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}

#navbarNavAltMarkup>.navbar-nav>.btn>a:hover {
	color: #57574C; /*grayish*/
}

.navbar {
	background-color: #57574C; 
	/*position: fixed;*/
}

#aboutus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left:0;
}

#contactus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left: 0;	
	/*color: #57574C;*/
}

/*end-header-part*/

/*modal-part*/
#exampleModalCenterTitle {
	color: #57574C;
}

#exampleModalCenterTitle1 {
	color: #57574C;
}

.modal-body>p {
	color: #57574C;
}
/*end-modal-part*/

#navbarNavAltMarkup>.navbar-nav>.btn{
	background-color: transparent;
	/*font-size: 10px;*/

}

/*main part*/
.main {
	background-image: url(../images/G4-promo/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-blur {
	background-color: rgba(0,0,0,0.30);
}

#intro-card {
	border:	none;
	/*font-size: 20px;*/
}

.menus:hover {
	text-decoration: none;	
}

#contactus,
#aboutus {
	padding-left: 10px;
}

.card {
	margin: 10px 0;
	/*background-color: transparent;	*/
}

.row>div>.card {
	background-color: transparent;
}

.card-package {
	height: 450px;
	/*background-color: transparent;*/
	box-shadow: 2px 2px 2px rgba(0,0,0,0.30);
}

.card-header {
	padding: 0;
}

.card-header>p {
	font-size: 2em;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: rgba(0,0,0,0.30); 
}

.card-body>p {
	text-align: center;
	font-size: 1em;
}

.card-body>ul>li {
	color: white;
	list-style: none;
	text-align: center;
	/*font-size: 2em;*/
	font-size: 20px;
}

.row-price {
	/*border: 1px solid black;*/
	text-align: center;
	/*padding-top: 30px;*/
	color: #57574C;
}

.prices {
	font-size: 20px;
}

#btz {
	font-size: 3em;
}

.back2zero {
	font-size: 13px;

}









/*footer-part*/
#footer {
	background-color: #57574C;
	height: 100px;
	/*position: relative;*/

	/*border-radius: 20px;*/
}

#copyright {
	padding-top: 20px;
	text-align: center;
	
}

.sociallinks {
	display: inline;
	/*text-align: center;*/

}

.soclink {
	text-align: center;
}

.fab {
	/*height: 20px;*/
	/*width: 20px;*/
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}	

.fa-facebook-square {
	background-color: rgb(59, 89, 152);
	color: white;
}

.fa-twitter-square {
	background-color: rgb(29, 161, 242);
	color: white;
}

.fa-instagram {
	background-color: rgb(195, 42, 163);
	color: white;
}

.fa-youtube {
	background-color: rgb(255, 0, 0);
	color: white;
}

.soclink {
	margin-bottom: 0;
}

#copyright {
	margin-bottom: 10px;
}
/*end-footer-part*/















































/*mobile phone*/
@media only screen and (max-width: 450px) {
	#companyname {
		display: none;
	}

	.main,
	.bg-blur {
		height: 370vh;
	}

	.card-package {
		height: 80vh;
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}
}


/*tablets*/
@media (min-width:451px) and (max-width: 768px) {
	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

	.main,
	.bg-blur {
		height: 125vh;
	}

	.card-package {
		height: 52vh;
	}

}	