* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	color: #FFF359;
}

#companylogo {
	/*padding-top: 10px;*/
	height: 20%;
	width: 20%;
	/*margin: 20px;*/
}

#companyname {
	color: #FFF359;
	font-size: 2.5em;
	/*border: 1px solid white;*/
	/*text-align: center;*/
	/*padding-bottom: 50px*/
}

.navbar-brand {
	color: white;

}

#navbarNavAltMarkup a {
	color: #FFF359; /*yellow*/
}

#navbarNavAltMarkup a:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}


#navbarNavAltMarkup>.navbar-nav>.btn:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}

#navbarNavAltMarkup>.navbar-nav>.btn>a:hover {
	color: #57574C; /*grayish*/
}



.navbar {
	background-color: #57574C; 
	/*position: fixed;*/
}

#aboutus {
	background-color: transparent;
	border: none;
	text-align: center;
	padding-left:0;
}

#contactus {
	background-color: transparent;
	border: none;
	text-align: center;
	padding-left: 0;	
	/*color: #57574C;*/
}


/*end-header-part*/

/*modal-part*/
.modal-title {
	color: #57574C;
} 

.modal-body {
	color: #FFF359;
	background-color: #57574C;
}

.modalClose {
	color: #FFF359;
}

.modalSubsbtn,
.modalClosebtn {
	background-color: #57574C;		
}
/*end-modal-part*/

#navbarNavAltMarkup>.navbar-nav>.btn{
	background-color: transparent;
}

.menus:hover {
	text-decoration: none;	
}

#contactus,
#aboutus {
	padding-left: 10px;
}

/*background*/
.main {
	background-image: url(../images/G4-promo/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*height: 110vh;*/
	/*height: 729px;*/
	/*height: 689px;*/
	height: 720px;
}

.bg-blur {
	background-color: rgba(0,0,0,0.30);
}
/*end background*/


/*carousel */
.carouselMain {
	border: 2px solid white;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	/*background-color: #FFF359;*/
	height: 10%;
	width: 30%; 
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
/*end carousel*/

/*footer-part*/
#footer {
	background-color: #57574C;
	height: 140px;
	text-align: center;
}

/*subscribe button modal*/
#subscribe {
	color: #57574C;
	text-align: center;
	background-color: #FFF359; 
	margin: auto;
	width: 200px;
	margin-top: 10px;
	/*margin-bottom: 10px;*/
	/*display: block;*/
}

#emailHelp {
	color: white;
}

.notation {
	display: block;
}

em {
	color: white;
}
/* end subscribe button modal*/


/*#copyright {
	padding-top: 20px;
	text-align: center;
	
}*/

.sociallinks {
	display: inline;
	/*text-align: center;*/

}

/*.soclink {
	text-align: center;
}*/

.fab {
	/*height: 20px;*/
	/*width: 20px;*/
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}	

.fa-facebook-square {
	background-color: rgb(59, 89, 152);
	color: white;
}

.fa-twitter-square {
	background-color: rgb(29, 161, 242);
	color: white;
}

.fa-instagram {
	background-color: rgb(195, 42, 163);
	color: white;
}

.fa-youtube {
	background-color: rgb(255, 0, 0);
	color: white;
}

.soclink {
	margin-bottom: 0;
}

#copyright {
	margin-bottom: 10px;
}
/*end-footer-part*/


.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-control-prev-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

















































/*mobile phone*/
@media only screen and (max-width: 450px) {
	#companyname {
		display: none;
	}

	.main {
		height: 471px;
	}


	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

	.carouselMain {
		margin-top: 18vh;
	}

	iframe {
		width: 325px;
	}

}

/*tablets*/
@media (min-width:451px) and (max-width: 768px) {
	.main {
		height: 798px;
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

	.carouselMain {
		margin-top: 15vh;
	}

}	
