* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	color: #FFF359;
}

#companylogo {
	padding-top: 20px;
	height: 20%;
	width: 20%;
	/*margin: 20px;*/
}

#companyname {
	color: #FFF359;
	font-size: 2.5em;
	/*border: 1px solid white;*/
	/*text-align: center;*/
	/*padding-bottom: 50px*/
}

.navbar-brand {
	color: white;

}

#navbarNavAltMarkup a {
	color: #FFF359; /*yellow*/
}

#navbarNavAltMarkup>.navbar-nav>.btn>a:hover {
	color: #57574C; /*grayish*/
}
#navbarNavAltMarkup a:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}

.navbar {
	background-color: #57574C; 
	/*position: fixed;*/
}

#aboutus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left:0;
}

#contactus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left: 0;	
	/*color: #57574C;*/
}

/*end-header-part*/

/*modal-part*/
#exampleModalCenterTitle {
	color: #57574C;
}

#exampleModalCenterTitle1 {
	color: #57574C;
}

.modal-body>p {
	color: #57574C;
}
/*end-modal-part*/

#navbarNavAltMarkup>.navbar-nav>.btn{
	background-color: transparent;
}
























/*footer-part*/
#footer {
	background-color: #57574C;
	height: 100px;
	position: relative;

	/*border-radius: 20px;*/
}

#copyright {
	padding-top: 40px;
	padding-left: 20px;
	/*position: absolute;
	bottom: 20px;
	right: 85vw;*/

}
/*end-footer-part*/






















































/*mobile phone*/
@media only screen and (max-width: 450px) {
	#companyname {
		font-size: 1em;
	}

	.main {
		height: 75vh;
	}

	.d-block {
		height: 75vh;
		/*width: 120vw;*/
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

}

/*tablets*/
@media (min-width:451px) and (max-width: 768px) {
	.main {
		height: 80vh;
	}

	.d-block {
		height: 80vh;
		/*width: 120vw;*/
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}
}	