* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	color: #FFF359;
}

#companylogo {
	padding-top: 20px;
	height: 20%;
	width: 20%;
	/*margin: 20px;*/
}

#companyname {
	color: #FFF359;
	font-size: 2.5em;
	/*border: 1px solid white;*/
	/*text-align: center;*/
	/*padding-bottom: 50px*/
}

.navbar-brand {
	color: white;

}

#navbarNavAltMarkup a {
	color: #FFF359; /*yellow*/
}

/*#navbarNavAltMarkup a:hover {*/
#navbarNavAltMarkup>.navbar-nav>.btn:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}

#navbarNavAltMarkup>.navbar-nav>.btn>a:hover {
	color: #57574C; /*grayish*/
}

.navbar {
	background-color: #57574C; 
	/*position: fixed;*/
}

#aboutus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left:0;
}

#contactus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left: 0;	
	/*color: #57574C;*/
}

.menus:hover {
	text-decoration: none;	
}

#contactus,
#aboutus {
	padding-left: 10px;
}

/*end-header-part*/

/*modal-part*/
#exampleModalCenterTitle {
	color: #57574C;
}

#exampleModalCenterTitle1 {
	color: #57574C;
}

.modal-body>p {
	color: #57574C;
}
/*end-modal-part*/

#navbarNavAltMarkup>.navbar-nav>.btn{
	background-color: transparent;
	/*font-size: 10px;*/
}

/*main*/
/*background*/
.main {
	background-image: url(../images/G4-promo/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-blur {
	background-color: rgba(0,0,0,0.30);
}
/*end background*/

.row>div>.card {
	background-color: transparent;
	/*border: none;*/
}

.card-header {
	text-align: center;
}





/*overlay*/
.block-img {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.block-img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*end overlay*/

.card {
	margin: 10px 0;
	/*height: 50vh;*/
}

#img-int-det {
	/*height: 350px;*/
}

div>.card {
	border: none;
}

.card-footer {
	/*display: flex;*/
	/*justify-content: space-between;*/
	text-align: center;
	font-size: 1em;
}











/*footer-part*/
#footer {
	background-color: #57574C;
	height: 100px;
	/*position: relative;*/

	/*border-radius: 20px;*/
}

#copyright {
	padding-top: 20px;
	text-align: center;
	
}

.sociallinks {
	display: inline;
	/*text-align: center;*/

}

.soclink {
	text-align: center;
}

.fab {
	/*height: 20px;*/
	/*width: 20px;*/
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}	

.fa-facebook-square {
	background-color: rgb(59, 89, 152);
	color: white;
}

.fa-twitter-square {
	background-color: rgb(29, 161, 242);
	color: white;
}

.fa-instagram {
	background-color: rgb(195, 42, 163);
	color: white;
}

.fa-youtube {
	background-color: rgb(255, 0, 0);
	color: white;
}

.soclink {
	margin-bottom: 0;
}

#copyright {
	margin-bottom: 10px;
}
/*end-footer-part*/




























/*mobile phone*/
@media only screen and (max-width: 450px) {
	#companyname {
		font-size: 1em;
	}

	.text {
		font-size: 0.75em;
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

	#companyname {
		display: none;
	}
}

/*tablets*/
@media (min-width:451px) and (max-width: 768px) {
	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}	