* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amaranth', sans-serif;
	color: #FFF359;
}

/*header-part*/
#companylogo {
	/*padding-top: 20px;*/
	height: 20%;
	width: 20%;
	/*margin: 20px;*/
}

#companyname {
	color: #FFF359;
	font-size: 2.5em;
	/*border: 1px solid white;*/
	/*text-align: center;*/
	/*padding-bottom: 50px*/
}

.navbar-brand {
	color: white;

}

#navbarNavAltMarkup a {
	color: #FFF359; /*yellow*/
}

#navbarNavAltMarkup a:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}

#navbarNavAltMarkup>.navbar-nav>.btn:hover {
	color: #57574C; /*grayish*/
	background-color: #FFF359;
}

#navbarNavAltMarkup>.navbar-nav>.btn>a:hover {
	color: #57574C; /*grayish*/
}


.navbar {
	background-color: #57574C; 
	/*position: fixed;*/
}

#aboutus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left:0;
}

#contactus {
	background-color: transparent;
	border: none;
	text-align: left;
	padding-left: 0;	
	/*color: #57574C;*/
}

.menus:hover {
	text-decoration: none;	
}

#contactus,
#aboutus {
	padding-left: 10px;
}

#navbarNavAltMarkup>.navbar-nav>.btn{
	background-color: transparent;
	/*font-size: 20px;*/

}
/*end-header*/

.main {
	/*height: 680px;*/
	height: 640px;
	background-image: url(../images/bg.jpg);
	background-color: rgba(255, 255, 255, 1);
	background-size: cover;
}

.catchphrase {
	/*color: #57574C;*/
	font-size: 4em;
	font-family: 'Kaushan Script', cursive;
}



/*modal-part*/
.modal-title {
	color: #57574C;
} 

.modal-body {
	color: #FFF359;
	background-color: #57574C;
}

.modalClose {
	color: #FFF359;
}

.modalClosebtn,
.modalSubsbtn {
	background-color: #57574C;		
}
/*end modal-part*/

.sponsor1 {
	padding-top: 20vh;
	padding-bottom: 10px;
}


/*footer-part*/
#footer {
	background-color: #57574C;
	height: 140px;
	text-align: center;
}

/*subscribe button modal*/
#subscribe {
	color: #57574C;
	text-align: center;
	background-color: #FFF359; 
	margin: auto;
	width: 200px;
	margin-top: 10px;
	animation-iteration-count: infinite;
}

#emailHelp {
	color: white;
}

.notation {
	display: block;
}

em {
	color: white;
}
/* end subscribe button modal*/


.sociallinks {
	display: inline;
	/*text-align: center;*/

}

.soclink {
	/*text-align: center;*/
}

.fab {
	padding: 5px;
	font-size: 20px;
	text-decoration: none;
}	

.fa-facebook-square {
	background-color: rgb(59, 89, 152);
	color: white;
}

.fa-twitter-square {
	background-color: rgb(29, 161, 242);
	color: white;
}

.fa-instagram {
	background-color: rgb(195, 42, 163);
	color: white;
}

.fa-youtube {
	background-color: rgb(255, 0, 0);
	color: white;
}

.soclink {
	margin-bottom: 0;
}

#copyright {
	margin-bottom: 10px;
}
/*end-footer-part*/




























/*mobile phone*/
@media only screen and (max-width: 450px) {
	#companyname {
		display: none;
	}

	.catchphrase {
		font-size: 2em;
		margin-top: 7vh;
		padding-bottom: 8vh;
	}

	.sponsor {
		/*height: 30%;
		width: 30%;*/
		margin-top: 7vh;
		margin-left: auto;
		margin-right: auto;
	}

	.main, 
	.bg {
		height: 471px;
		background-size: cover;
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

	#bg-image {
		padding-bottom: 3vh;
	}

	.sponsor1 {
		padding-top: 15vh;
	/*	height: 50%;
		width: 50%;	*/
	}

	iframe {
		width: 325px;
	}

}


/*tablets*/
@media (min-width: 451px) and (max-width: 768px) {

	.nav-item {
		text-align: right;
	}

	#contactus {
		text-align: right;
		padding-right: 0;	
	}

	#aboutus {
		text-align: right;
		padding-right: 0;	
	}

	.main, 
	.bg {
		height: 798px;
		background-size: cover;
	}

	.sponsor1 {
		padding-top: 28vh;	
	}	

	.carwashing {
		margin-top: 7vh;
	}

	#navbarNavAltMarkup>.navbar-nav>.btn {
		text-align: right;
	}

	#bg-image {
		margin-bottom: 7vh;
	}

	.catchphrase {
		margin-top: 30px;
		margin-bottom: 0;
	}
}	


















